.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--text-dark);
    height: calc(100vh - 6rem);
    background-color: var(--bg-color);
}

.loginCard {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 2.5rem;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.4);
}

.mode {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.mode button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.header {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem;
}

.or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.divider {
    border: none;
    background-color: var(--text-color);
    display: inline-block;
    width: 10rem;
    height: 2px;
    opacity: 0.2;
}

.loginForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
    width: 100%;
}

.loginForm input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

@media (max-width: 768px) {
    .loginPage {
        background: linear-gradient(0deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.5) 25%,
                rgba(255, 255, 255, 0.1) 100%), url('../../assets/spitbg.webp');
        background-size: cover;
        background-position: center;
    }
    .loginCard {
        transform: scale(0.8);
    }
    .header {
        font-size: 1.25rem;
        width: 80%;
    }
    .divider {
        width: 4.5rem;
    }
    .loginForm input {
        width: 80%;
    }
    .loginForm button {
        width: 80%;
    }
}